@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    max-width: 500px ;
    margin: 0 auto!important;
   font-family: "Roboto Flex", sans-serif;
  
    font-size: 12px;
    
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.xx {
    max-width: 500px;
    margin: auto;
}
.swiper-pagination-bullet-active {
    color: #fff;
    background: #f1dcf4 !important;
   
  }
  .swiper-pagination-bullet {
    margin-bottom: 5px !important;
  }